
[submodule "react-native"]
	path = react-native
	url = https://github.com/facebook/react-native.git
[submodule "XiaoMa/ckkit"]
	path = XiaoMa/ckkit
	url = ssh://git@rm.xiaomadada.com:7999/ckkit/ckkit.git
